.ffooter{
    background-color:rgba(15, 201, 24, 0.829);
    color: white;
    padding-top: 1cm;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 40px ;
}